.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}



.content{
    border: 50px solid white;
}

.statcont{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    float: left;
}

.insertForm{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    max-width:50%;
}