
.table th {
    text-align: center;

     padding: 0px 0px 0px 50px;

}

.table {
    border-radius: 5px;
    width: 1000px;
    float: none;

}

.content{
    border: 50px solid white;
}

.insertForm{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    max-width:400px;
}